.brew {

}

.ui-dialog-titlebar-close {
    display: none;
}

.showCloseButton .ui-dialog-titlebar-close {
  display: block !important;
}

.brew .leftColumn {
  width: 48%;
  float: left;
  margin: 0 1% 0 1%;
}

.brew .rightColumn {
  width: 48%;
  float: right;
  margin: 0 1% 0 1%;
}

.brew .singleColumn {
  width: 98%;
  float: left;
  margin: 0 1% 0 1%;
}

.brew h1 .recipeName {
  float: left;
}

.brew .recipeStartTime {
    font-size: 0.9em;
    font-weight: bold;
    float: right;
}

#aliveThrobber {
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    margin-left: 10px;
}


.brew .contentbox {
    width: 100%;
    padding: 0;
    margin: 1em 0 0 0;
    float: left;
}

.brew .contentbox .content {
    padding: 2% 3% 2% 3%;
    float: left;
    width: 94%;
}

.brew .ui-progressbar {
  height: 1.5em;
}

.brew .slider {
  float: left;
  width: 74%;
  margin-top: 2px;
  margin-left: 4%;
  margin-right: 4%;
}

.brew .sliderButton {
  float: left;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.brew .sliderIndicator {
  float: right;
  height: 1.3em;
  margin-right: 15%;
}

.brew .stepInfo .content {
    font-weight: bold;
    font-size: 1.1em;
}

.brew .fieldsetCaption {
  font-weight: bold;
}

.brew fieldset {
  margin: 0;
  padding: 0.5em;
}

.brew fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brewDialog fieldset {
  margin-bottom: 1.5em;
}

.brewDialog fieldset label {
  float: left; 
  width: 100%;
}

.brewDialog fieldset input {
  float: left;
}

.brewDialog fieldset .ui-button {
  margin-top: -0.3em;
  margin-left: 3em;
}

.brewDialog fieldset .radioset .ui-button {
	margin-left: 0;
	margin-top: 0.3em;
	width: auto;
}

.brewDialog fieldset .value {
  float: left;
}

.protocolContainer .content {
    height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid #AED0EA;
    margin-bottom: 0.5em;
}

.protocolContainer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.protocolContainer ul li {
    padding-left: 0;
    margin-left: 0;
}

.protocolContainer .addComment {
    margin: 0 0 0.5em 0.5em;
    float: left;
    width: 94%;
}

.protocolContainer .addComment input {
    width: 50%;
    margin-right: 2%;
    float: left;
}

.protocolContainer .addComment input.ui-button {
    line-height: 2em;
    font-size: 0.9em;
    width: 47%;
}

.buttonContainer .leftColumn, .buttonContainer .rightColumn {
  margin-top: 1em;
}

.buttonContainer .ui-button {
  width: 100%;
  margin-bottom: 1em;
}

.brew .spacer {
  margin-bottom: 1em;
  width: 100%;
  float: left;
}

.brew h4 {
  margin-bottom: 1.5em;
}

.heater, .motor {
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

.heater .statusIcon, .heater .manualModeIcon, .motor .manualModeIcon, .motor .statusIcon {
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.heater .name, .motor .name {
    float: left;
    width: 70%;
    font-weight: bold;
}

.heater .progressbarPower, .motor .progressbarPower {
  position: absolute;
  margin-left: 4.7em;
  margin-top: 0.35em;
}
.heater .label, .motor .label {
  float: left;
  font-size: 0.8em;
}

.heater .indicator, .heater .unit, .motor .indicator, .motor .unit {
  float: left;
  margin-left: 0.3em;
  font-size: 0.8em;
}

.heater .manualModeIcon, .motor .manualModeIcon {
  cursor: pointer;
}
  
.temperatureSensor, .pressureSensor {
    margin-bottom: 15px;
}

.temperatureSensor .reference {
  color: red;
  float: right;
}

.temperatureSensor:last-child, .pressureSensor:last-child {
    margin-bottom: 0;
}

.temperatureSensor .temperatureSensorName, .pressureSensor .pressureSensorName {
  font-weight: bold;
}

.temperatureSensor .temperatureSensorValue, 
.pressureSensor .pressureSensorValue,
.temperatureSensor .temperatureSensorUnit,
.pressureSensor .pressureSensorUnit {
  float: right;
  margin-left: .3em;
}

.brew .disclaimer {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  color: red;
}

.brewLauterTemperatureReachedDialog {
  
}



.brewMeshingTemperatureReachedWindow .elongateMeshingArea, .elongateCookingArea {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.brewMeshingTemperatureReachedWindow .elongateMeshingArea .time, .elongateCookingArea .time {
    float: left;
    width: 49%;
}

.brewMeshingTemperatureReachedWindow .elongateMeshingArea .time input, .elongateCookingArea .time input {
    width: 30px;
}

.brewMeshingTemperatureReachedWindow .elongateMeshingArea .buttonArea, .elongateCookingArea .buttonArea {
    float: left;
    width: 49%;
}

.brewMeshingTemperatureReachedWindow .elongateMeshingArea .buttonArea input, .elongateCookingArea .buttonArea input {
    padding: 0.15em 1.0em;
    font-size: 0.9em;
}

.brewMeshingTemperatureReachedWindow .startCooking .buttonArea, .finish .buttonArea {
    float: left;
    text-align: right;
    width: 100%;
}

.addHopWindow fieldset {
    margin-bottom: 5px;
}

.addHopWindow label {
    float: left;
    font-weight: bold;
    width: 49%;
    margin-bottom: 10px;
}

.addHopWindow .value {
    float: left;
    width: 49%;
    margin-bottom: 10px;
}

.addHopWindow .buttonArea {
    text-align: right;
}


.brew .cancelButtonContainer {
    float: left;
    width: 49%;
}

.brew .cancelButtonContainer input {
    width: 70%;
}

.brew .pauseButtonContainer, .brew .editProtocolButtonContainer {
    float: right;
    width: 49%;
}

.brew .pauseButtonContainer input, .brew .editProtocolButtonContainer input {
    float: right;
    width: 70%;
}

.brew .stepInfo {
  margin-top: 1em;
    background-color: transparent;
}

.brew .stepInfo .row {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.brew .stepInfo .row:last-child {
    margin-bottom: 0;
}

.brew .stepInfo label {
    width: 49%;
    font-weight: bold;
    float: left;
    color: black;
}

.brew .stepInfo .value {
    width: 49%;
    float: left;
    color: black;
    font-weight: normal;
}

.brew .stepInfo p {
  font-weight: bold;
  color: gray;
  margin-bottom: .5em;
}


.brew .heaterHysteresisRegulator .cautious,
.brew .cookingTemperaturRegulator .low {
    float: left;
    font-size: 0.8em;
    width: 49%;
}

.brew .heaterHysteresisRegulator .aggressive,
.brew .cookingTemperaturRegulator .high {
    float: right;
    font-size: 0.8em;
    width: 49%;
    text-align: right;
}

.brew .initError .container {
    overflow: auto;
    width: 100%;
    max-height: 300px;
}

.brew .initError .container pre {
    width: 90%;
    margin: 20px 10px 20px 0;
}

.manualMode .pageHeadline {
    font-size: 2.0em;
    font-weight: bold;
    float: left;
    margin-top: 0;
    margin-bottom: 10px;
}

.manualMode input.onIcon {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/brew/enabled.png);
}

.manualMode input.offIcon {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/brew/disabled.png);
}

.manualMode input.active{
    display: block;
}

.manualMode .heaterName {
    float: left;
    width: auto;
    padding-top: 2px;
}

.serverErrorMessage {
  font-family: monospace;
  color: red;
}