.form {
    float: left;  
    width: 100%;
}

.form .column50percent {
    width: 46%;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 4%;
}

.form .column33percent {
    width: 33%;
    margin: 0;
    padding: 0;
    float: left;
}

.form .row {
    min-height: 3.5em;
    width: 100%;
    float: left;
    margin-bottom: 1em;
    padding-right: 10px;
}

.form label {
    width: 95%;
    font-weight: bold;
    float: left;
}

.form input {
    width: 95%;
    float: left;
}

.form input.small {
    width: 25%;
}

.form textarea {
    float: left;
    width: 95%;
}

.form input.checkbox {
    float: left;
    width: auto;
}

.form .errors {
    float: left;
    margin:0;
    padding: 0;
    color: red;
}

.form .errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form .errors ul li {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 0.9em;
    font-weight: bold;
}

.form .slider {
  float: left;
  width: 84%;
  margin-top: 2px;
  margin-left: 2%;
  margin-right: 2%;
}

.form .sliderButton {
  float: left;
  width: 14px;
}

.form .sliderIndicator {
  float: right;
  margin-right: 9%;
}

.form .ui-button {
    width: auto;
    font-weight: normal;
}

.form table {
    margin-bottom: 2em;
}

.form table caption {
    font-weight: bold;
    text-align: left;
}

.form table th {
    text-align: left;
}

.form .right {
  float: right;
}

.form .left {
  float: left;
}

.form .buttonbar {
  float: left;
  width: 95%;
}

.form .buttonbar input {
  margin-bottom: 1em;
}


/*
.form table {
    width: 95%;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

.form table th {
    background: url("../images/jquery-ui/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
    color: #2779AA;
    font-weight: bold;
    font-size: 1.0em;
    padding: 0.5em 1em 0.5em 1em;
    border-top: 1px solid #aed0ea;
    border-bottom: 1px solid #aed0ea;
    margin: 0;
}

.form table th:first-child {
    border-left: 1px solid #aed0ea;
    -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
}

.form table th:last-child {
    border-right: 1px solid #aed0ea;
    -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px;
}

.form table td {
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: 1px solid #aed0ea;
}

.form table td:first-child {
    border-left: 1px solid #aed0ea;
}

.form table td:last-child {
    border-right: 1px solid #aed0ea;
}

 */
