#navigation {
    /*background: url(../images/jquery-ui/ui-bg_highlight-soft_100_deedf7_1x100.png);*/
    width: 100%;
    /*border: 1px solid #aed0ea;*/
    float: left;
    margin: 0;
}

#navigation ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding-left: 0.0em;
}

#navigation ul li {
    float: left;
    background: #d7ebf9 url(../images/jquery-ui/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2779aa;
    padding: 0.5em 1em 0.5em 1em;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    border: 1px solid #aed0ea;
    margin: 0.2em 0.1em 0.1em 0.1em;
    cursor: pointer;
    font-size: 1.1em;

}

#navigation ul li:hover {
    border: 1px solid #2694e8;
    background: #3baae3 url(../images/jquery-ui/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
    border-bottom: none;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}

#navigation a, #navigation a:hover, #navigation a:visited, #navigation a:active {
    text-decoration: none;
    color: #2779AA;
}

#navigation ul li ul {
    display: none;
    margin-top: .5em;
    margin-left: -1.15em;
    padding: 0;
    list-style-type: none;
    position: absolute;
    opacity: 0.95;
    -moz-box-shadow: 3px 3px 4px #555;
    -webkit-box-shadow: 5px 5px 8spx #222;
    -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;
    min-width: 10em;
}

#navigation ul li ul li {
    float: none;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0;
    -moz-border-radius: 0;
    font-size: 0.9em;
}

#navigation ul li ul li:hover {
    border: 1px solid #aed0ea;
}

#navigation ul li ul li:hover a {
    color: #ffffff;
}

#navigation ul li ul li:first-child {
    -moz-border-radius-topright: 6px; 
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

#navigation ul li ul li:last-child {
    -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;
}

#navigation ul li.active ul, #navigation ul li:hover ul {
    display: block;
}
